@using BusinessLogic.ProductServices
@model IEnumerable<ProductDto>

@{
    ViewData["Title"] = "لیست محصولات";

    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
    string search = ViewBag.Search ?? "";
    string currentSort = ViewBag.Sort ?? "newest";
}

<!-- Search -->
<div class="products-search">
    <form asp-action="ProductList" method="get">
        <input style="width:70%"
               type="text"
               name="search"
               value="@search"
               placeholder="جستجوی محصول..." />

        <button type="submit" class="btnProduct">
            جستجو
        </button>
    </form>
</div>
<!-- Filtering -->
<div class="filtering-section">
    <div class="filter-title">
        مرتب‌سازی بر اساس:
    </div>

    <div class="filter-buttons">
        <a asp-action="ProductList"
           asp-route-page="1"
           asp-route-search="@search"
           asp-route-sort="bestselling"
           class="filter-btn @(currentSort == "bestselling" ? "active" : "")">
            پرفروش‌ترین
        </a>

        <a asp-action="ProductList"
           asp-route-page="1"
           asp-route-search="@search"
           asp-route-sort="newest"
           class="filter-btn @(currentSort == "newest" ? "active" : "")">
            جدیدترین
        </a>

        <a asp-action="ProductList"
           asp-route-page="1"
           asp-route-search="@search"
           asp-route-sort="highestprice"
           class="filter-btn @(currentSort == "highestprice" ? "active" : "")">
            گران‌ترین
        </a>

        <a asp-action="ProductList"
           asp-route-page="1"
           asp-route-search="@search"
           asp-route-sort="lowestprice"
           class="filter-btn @(currentSort == "lowestprice" ? "active" : "")">
            ارزان‌ترین
        </a>
    </div>
</div>


<!-- Products -->
<div class="productsContainer">
    @if (!Model.Any())
    {
        <div class="products-empty">
            محصولی یافت نشد
        </div>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="productsItems">
                <img class="productsImage"
                     src="/api/FileUpload/GetFile?filename=@item.ImageName"
                     alt="@item.ProductName" />

                <div class="productsInfo">
                    <div style="display:flex;justify-content:space-between; align-items:center">
                        <h5>@item.ProductName </h5>
                        <a class="openModal" data-product-id="@item.ProductId">
                            <i class="infoBtn fa fa-info-circle"></i>
                        </a>
                    </div>
                    <p>@item.Price.ToString("N0") تومان</p>


                    <a asp-controller="Product"
                       asp-action="Index"
                       asp-route-id="@item.ProductId"
                       class="btnProduct">
                        مشاهده محصول
                    </a>
                </div>
            </div>
        }
    }
</div>

<!-- Pagination -->
@if (totalPages > 1)
{
    <div class="pagination">
        @if (currentPage > 1)
        {
            <a asp-action="ProductList"
               asp-route-page="@(currentPage - 1)"
               asp-route-search="@search"
               asp-route-sort="@ViewBag.Sort">
                قبلی
            </a>
        }

        @for (int i = 1; i <= totalPages; i++)
        {
            <a asp-action="ProductList"
               asp-route-page="@i"
               asp-route-search="@search"
               asp-route-sort="@ViewBag.Sort"
               class="@(i == currentPage ? "active" : "")">
                @i
            </a>
        }

        @if (currentPage < totalPages)
        {
            <a asp-action="ProductList"
               asp-route-page="@(currentPage + 1)"
               asp-route-search="@search"
               asp-route-sort="@ViewBag.Sort">
                بعدی
            </a>
        }
    </div>
}
